<div class="sm:mx-auto sm:max-w-container p-4 bg-blue-btn text-yellow">
<a href="">MENTIONS LEGALES</a>
<a href="">NOUS CONTACTER</a>
<a href="">POLITIQUE DE PROTECTION DES DONNEES PERSONNELLES</a>
</div>