<div class="bg-blue-main">
    <div class="sm:mx-auto sm:max-w-container py-4 text-center text-yellow-footer font-bold">
    <a class="px-6 border-r-4 border-yellow-footer" href="">MENTIONS LEGALES</a>
    <a class="px-6 border-r-4 border-yellow-footer" href="">NOUS CONTACTER</a>
    <a class="px-6" href="">POLITIQUE DE PROTECTION DES DONNEES PERSONNELLES</a>
    </div>
</div>