<div class="" style="background-image: linear-gradient(#1db2e7 0%, #005e8b 100%);">
    <div class="sm:mx-auto sm:max-w-container p-4 flex flex-col items-center">
        <div class="relative">
            <button class="bg-blue-btn rounded-full text-white font-bold text-lg my-8 px-4 py-2"
                style="min-width: 300px">TÉLÉCHARGER VOTRE PASS</button>
            <button
                class="bg-transparent absolute border-t-2 rounded-full text-transparent font-bold text-lg my-8 px-4 py-2"
                style="min-width: 300px; top: -7px;border-top-color: rgba(255, 255, 255, 0.8);">TÉLÉCHARGER VOTRE
                PASS</button>
                        <img class="absolute " style="
        right: 600px;
    top: 0px;
" src="../assets/img/feutre.png" alt="">
        <img class="absolute" style="
        width: 150px;
    top: 0px;
    right: 400px;
" src="../assets/img/chipsorange.png" alt="">
        <img class="absolute" style="
    left: 460px;
    z-index: 1;
    top: 0;
" src="../assets/img/cahiers.png" alt="">

        </div>

        <div class="bg-cover bg-center h-52 flex flex-col items-center relative z-10"
            style="background-image: url(../assets/img/blocnote.png)">
            <h3 style="
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #d6101e;
    padding: 20px 0px;">
                COMMENT OBTENIR MON ACTIVITÉ ?</h3>
            <div class="flex justify-around px-8">
                <div class="flex px-4 w-1/4">
                    <p class="bg-cover bg-center mr-4 mt-1"
                        style="background-image: url(../assets/img/carrerouge.png);text-align: center;font-size: xx-large;font-weight: bold;color: white;min-width: 50px;max-height: 50px">
                        1</p><span>J'achète un produit Monster Munch</span>
                </div>
                <div class="flex px-4 w-1/4">
                    <p class="bg-cover bg-center mr-4 mt-1"
                        style="background-image: url(../assets/img/carrerouge.png);text-align: center;font-size: xx-large;font-weight: bold;color: white;min-width: 50px;max-height: 50px">
                        2</p><span>Je découvre la liste des partenaires</span>
                </div>
                <div class="flex px-4 w-1/4">
                    <p class="bg-cover bg-center mr-4 mt-1"
                        style="background-image: url(../assets/img/carrerouge.png);text-align: center;font-size: xx-large;font-weight: bold;color: white;min-width: 50px;max-height: 50px">
                        3</p><span>Je télécharge et imprime le pass en A4</span>
                </div>
                <div class="flex px-4 w-1/4">
                    <p class="bg-cover bg-center mr-4 mt-1"
                        style="background-image: url(../assets/img/carrerouge.png);text-align: center;font-size: xx-large;font-weight: bold;color: white;min-width: 50px;max-height: 50px">
                        4</p><span>Je le remets directement à l’accueil de l’établissement
                        avec mon ticket de caisse</span>
                </div>
            </div>

        </div>
        <div class="relative z-10">
            <button class="bg-red-header rounded-full text-white font-bold text-lg my-8 px-4 py-2"
                style="min-width: 300px">MODALITÉS COMPLÉTES</button>
            <button
                class="bg-transparent absolute border-t-2 rounded-full text-transparent font-bold text-lg my-8 px-4 py-2"
                style="min-width: 300px; top: -7px;border-top-color: rgba(255, 255, 255, 0.8);">MODALITES
                COMPLETES</button>
                        <img class="absolute " style="
        width: 180px;
    top: 0;
    left: 350px;
" src="../assets/img/chipsjaune.png" alt="">

        </div>
    </div>
</div>
<div class="bg-cover bg-center " style="background-image: url(../assets/img/fond-bois.png); height: 100%;
    position: absolute;
    width: 100vw;top: 450px"></div>